################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/Hospital_Data/obj/Debug
/.vs
/Test/bin/Debug
/Test/obj
/Hospital/bin/Debug
/Hospital/obj
